---
layout: layouts/base.html
title: Projects
description: "Projects"
permalink: /2026/projects/index.html 
---
<div class="content__container">
  <h1>Projects at Kilele 2026</h1>

  <div class="news-grid">
    {% for project in projects %}  

    <a href="/2026/projects/{{ project.slug }}/" class="news-card-link">
    <div class="news-card">

        
        {% if project.photo_path %}
        <div class="news-card-image">
            <img src="{{ project.photo_path }}" alt="{{ project.title }}" width="400" height="400"/>
        </div>
        {% endif %}
 

        <div class="news-card-content">

            <div class="news-card-title">{{ project.title }}</div>       

            <div class="news-card-text">{{ project.excerpt }}</div>
            
        </div>
    </div>
    </a>
    {% endfor %}
</div>
</div>
