<!DOCTYPE html> 
<html lang="en"> 
    <head> 
        {% include "basehead.html" %} 
        {% block head %} {% endblock %}
    </head> 
    <body>
           <div class="background-fixed"></div>
           <div class="header__outer_container ">
            <header class="header__container">
                <div class="header__logo">
                    <a href="/">
                    <img class="logo" src="/assets/logos/kilele_logo_2026.png" alt="Kilele Festival logo"-->
                    </a>
                </div>

                <div class="nav__wrapper">
                    <nav class="header__links">
                        <div class="nav-item dropdown">
                            <a href="/about" class="nav__button dropdown-toggle" role="button" aria-expanded="false" aria-haspopup="true" aria-controls="about-submenu">About ▾</a>
                            <div id="about-submenu" class="dropdown-menu" role="menu">
                                <a role="menuitem" class="dropdown-item" href="/about/theme-2026">Theme for 2026</a>
                                <a role="menuitem" class="dropdown-item" href="/about/what-is-kilele">What is Kilele?</a>
                                <a role="menuitem" class="dropdown-item" href="/about/practical">Practical</a>
                                <!--a role="menuitem" class="dropdown-item" href="/about#other-channels">Other channels</a-->
                                <a role="menuitem" class="dropdown-item" href="/about/code-of-conduct">Code of Conduct</a>
                                <a role="menuitem" class="dropdown-item" href="/about/faq">FAQ</a>
                                <a role="menuitem" class="dropdown-item" href="/2026/projects">Projects</a>
                                <a role="menuitem" class="dropdown-item" href="/about/partners">Partners</a>
                                <a role="menuitem" class="dropdown-item" href="/about/contact">Contact</a>
                            </div>
                        </div>
                        <a href="/news" class="nav__button">News</a>
                        <a href="/2026/schedule" class="nav__button">Schedule</a>
                        <a href="/2026/lineup" class="nav__button">Line-up</a>
                        <a href="https://mookh.com/event/kilele-26" target="_blank" class="nav__button">Tickets</a>
                    </nav>
                    
                    <nav class="mobile__header_button-wrapper">
                        <!-- mobile menu toggle -->
                        <button class="menu-toggle" aria-expanded="false" aria-controls="mobile-menu" aria-label="Open menu">☰</button>
                    </nav>
                </div>
            </header>
        </div>
        
        <div id="swup" class="container transition-fade">
            <div class="body__container">
                {{ content | safe }}
                {% if not hidePartnersFooter %}
                {% include "layouts/partners_footer.html" %}
                {% endif %}
            </div>
        </div>

        <script src="/scripts/menu.js" defer></script>
        <script src="/scripts/hero.js" defer></script>
        <script type="module">
            import Swup from 'https://unpkg.com/swup@4?module';
            const swup = new Swup({
                containers: ['#swup'],
            });
        </script>
    </body>
</html>
