<div class="content__container">
    <h2>Partners</h2>
    <div class="general__container partners__section">
        <div class="partners__section-box">
        <a href="https://www.danishculture.com/" target="_blank" rel="noopener noreferrer"><img src="/assets/logos/partners/DCI.webp" alt="Danish Cultural Institute"/></a>
        </div>
        <div class="partners__section-box">
        <a href="https://eunic.eu/" target="_blank" rel="noopener noreferrer"><img src="/assets/logos/partners/EUNIC.png" alt="Eunic"/></a>
        </div>
        <div class="partners__section-box">
        <a href="https://www.ticahealth.org/resources/braidfund" target="_blank" rel="noopener noreferrer"><img src="/assets/logos/partners/BraidFund.png" alt="Braid Fund"/></a>
        </div>
        <div class="partners__section-box">
        <a href="https://ableton.com" target="_blank" rel="noopener noreferrer"><img src="/assets/logos/partners/Ableton-Logo.wine.png" alt="Ableton"/></a>
        </div>
        <div class="partners__section-box">
        <a href="https://www.adam-audio.com/en/" target="_blank" rel="noopener noreferrer"><img src="/assets/logos/partners/Adam Audio.png" alt="Adam"/></a>
        </div>
        <div class="partners__section-box">
        <a href="https://focusrite.com" target="_blank" rel="noopener noreferrer"><img src="/assets/logos/partners/Focusrite.png" alt="Focusrite"/></a>
        </div>
        <div class="partners__section-box">
        <a href="https://santuriculture.com" target="_blank" rel="noopener noreferrer"><img src="/assets/logos/partners/Santuri-Culture-LOGO-Red.png" alt="Santuri Culture"/></a>
        </div>
       <div class="partners__section-box">
        <a href="https://prohelvetia.ch/en/" target="_blank" rel="noopener noreferrer"><img src="/assets/logos/partners/ProHelvetia_Magenta.png" alt="Pro Helvetia"/></a>
        </div>
        <div class="partners__section-box">
            <a href="https://peoplespalaceprojects.org.uk/en/" target="_blank" rel="noopener noreferrer"><img src="/assets/logos/partners/BritishAcademy.jpg" alt="Support from the British Academy’s Global Innovation Fellowships Programme, Queen Mary, University of London and People's Palace Projects."/></a>
        </div>
        <div class="partners__section-box">
            <a href="https://novationmusic.com/.com" target="_blank" rel="noopener noreferrer"><img src="/assets/logos/partners/Novation.jpg" alt="Novation"/></a>
        </div>
        <div class="partners__section-box">
            <a href="https://bitwig.com" target="_blank" rel="noopener noreferrer"><img src="/assets/logos/partners/Bitwig.svg" alt="Bitwig"/></a>
        </div>  
        <div class="partners__section-box">
            <a href="/about/partners" class="nav__button">See all</a>
        </div>  
    </div>

</div>