<div class="content__container">
    <div class="content__title">
        <h1>Partners</h1>
    </div>
    <div class="general__container partners__section">
        <a href="https://https://www.danishculture.com/"><img src="/assets/logos/partners/DCI.webp" style="padding-top: 2rem; padding-bottom: 2rem;" alt="Danish Cultural Institute"/></a>
        <a href="https://eunic.eu/"><img src="/assets/logos/partners/EUNIC.png" alt="Eunic"/></a>
        <a href="https://www.ticahealth.org/resources/braidfund"><img src="/assets/logos/partners/BraidFund.png" alt="Braid Fund"/></a>
        <a href="https://ableton.com"><img src="/assets/logos/partners/Ableton-Logo.wine.png" alt="Ableton"/></a>
        <a href="https://www.adam-audio.com/en/"><img src="/assets/logos/partners/Adam Audio.png" alt="Adam"/></a>
        <a href="https://focusrite.com"><img src="/assets/logos/partners/Focusrite.png" alt="Focusrite"/></a>
        <a href="https://santuriculture.com"><img src="/assets/logos/partners/Santuri-Culture-LOGO-Red.png" alt="Santuri Culture"/></a>
    </div>
</div>