button {
    height: 2rem;
    width: 6rem;
    border: 2px solid grey;
    box-shadow: 10px 5px 5px var(--primary-color);
    border-radius: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    font-weight: bold;
}

.button {
  border: 2px solid var(--primary);
  border: 3px solid black;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  background: none;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  background: var(--primary);
  color: white;
}

.nav__button {
    border: 2px solid var(--text);
    padding: 0.25rem 1.5rem;
    border-radius: 3px 5px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    background-color: var(--background);
    box-shadow: -3px -2px 0px var(--text);
    @media (max-width:760px) {
        width: 30vw;
        /*width: var(--header-height);*/
        background-color: var(--background);
        padding: 0.25rem;
    }
}

.nav__button:hover {
  background: var(--primary);
  color: var(--background);
}

.tag {
    border: 2px solid black;
    background-color: var(--primary);
    color: white;
    border-radius: 7px;
    /*padding: 7px 10px;*/
    padding: 4px 8px;
    margin: 0 0.25rem;  
    @media (max-width: 900px) {
        font-size: smaller;
    }
}

.title {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.button-link {
    background-image: var(--button-purple);
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
    padding: 7px 10px;
    color: white;
    text-decoration: none;
    /*
    position: relative;
    background-color: purple;
    border: 2px solid black;
    border-radius: 4px;
    margin-top: -8px;
    margin-left: -8px;
    display: flex;
    align-items: center;
    justify-content: center;
    &::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        transform: translateX(2px) translateY(2px);
        border: 2px solid black;
        border-radius: 4px;
        background-color: purple;
    }
    &::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        transform: translateX(6px) translateY(6px);
        border: 2px solid black;
        border-radius: 4px;
        background-color: purple;
    }
    & div {
        position: relative;
        z-index: 1;
        margin: auto;
        padding: 7px 10px;
    }
        */
}
