
.hero__carousel {
    position: relative;
    overflow: hidden;
    display: flex;
    aspect-ratio: 2/1;

    border-radius: 10px;
    outline: 2px solid black;
    box-shadow: 5px 3px 3px black;
    background-color: var(--background);
}

.general__container {
    border-radius: 10px;
    outline: 2px solid black;
    box-shadow: 5px 3px 3px black;
    background-color: var(--background);
}

/* Ensure carousel height adapts to its content */
/*
.hero__section.hero__carousel::after {
  content: "";
  display: block;
  padding-top: 50%; /* adjust aspect ratio, e.g., 50% = 2:1 
}*/

.hero__section {
    position: absolute;
    inset: 0; /* fill parent */
    min-height: 75vh;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 0;
    /*flex-grow: 1;*/
}

.hero__section.active {
  opacity: 1;
  z-index: 2;
}

.hero__section-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--background);
  height: 100%; /* make sure it fills */
}

.hero__section-content picture,
.hero__section-content img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    height: auto;
}

.hero__section-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1.5rem;
    aspect-ratio: 1 / 1;
    @media (max-width: 600px) {
        aspect-ratio: unset;
        padding: 0.25rem 0.75rem;
        padding-bottom: 1rem;
    }
}

@media (max-width: 600px) {
  .hero__section {
    min-height: unset;
  }
  .hero__section-content {
    grid-template-columns: 1fr; 
    grid-template-rows: 3fr 2fr;
    gap: 0;
  }
  .hero__section img {
    border-bottom: 2px solid black;
  }

  .hero__carousel {
    display: grid;
    grid-template-columns: 1fr;
    aspect-ratio: 1/1.7;
  }

  .hero__section-text {
    justify-content: center;
    gap: 0.25rem;
    height: 100%;
  }
  .hero__info-text {
    height: 100%;
  }
}


.news__section--hero {
    display: grid;

    border-radius: 10px;
    outline: 2px solid black;
    box-shadow: 5px 3px 3px black;
    background-color: var(--background);

    grid-template-columns: repeat(3, 1fr);
    /*grid-template-rows: 3fr 1fr; /* images twice as tall as text */
    padding: clamp(1rem, (1vw), 2rem) clamp(1rem, (1vw), 3rem);
    gap: clamp(0, 1vw, 1rem);
    background-color: var(--background);
    @media (max-width: 600px) {
        grid-template-columns: 1fr;
        /*grid-template-rows: auto;*/
        gap: 0;
        padding: 0;
    }
}

.hero__section--newsletter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.5rem;
    grid-template-columns: 1fr 1fr;
    background-color: var(--background);
    align-items: center;
}


.hero__section--info-box {
    padding: 0;
    gap: 2rem;
    background-color: var(--background);
}

.hero__pair {
  display: grid;
  overflow: hidden;
  padding: 1rem;
}

.hero__pair-img-container {
    border-radius: 3px 5px;
    box-shadow: -5px -4px 0px var(--text);
    border: 3px solid black;
    @media (max-width: 550px) {
        max-height: 50vh;
    }
}

.hero__pair picture,
.hero__pair img {
    width: 100%;
    max-height: 100%;
    aspect-ratio: 1 / 1.5;
    object-fit: cover;

    @media (max-width: 550px) {
        border: none;
        border-radius: 0;
        max-height: 50vh;
    }
}

.hero__info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    object-fit: cover;
    padding: 1rem;
    gap: 1rem;
    aspect-ratio: 1 / 1;
    @media (max-width: 550px) {
        aspect-ratio: unset;
        padding: 0.75rem;
        gap: 0;
        object-fit: unset;
        min-height: 30vh;
    }
}

.hero__info--below {
    padding: min(0.5rem, 5%);
}

.hero__info_title {
    font-weight: bold;
    color: black;
    /*font-size: 4vw; */
    font-size: clamp(0.25rem, calc(3vw + 0.25rem), 2.5rem);
    @media (max-width: 550px) {
        padding-bottom: 0;
    }
}

.hero__info_shout {
    font-weight: 900;
    color: purple;
    font-size: 5vw;
    font-size: clamp(1rem, calc(4vw + 0.5rem), 5rem);
    /*
    font-size: 3.5rem;*/
    @media (max-width: 550px) {
       /* font-size: 8vw; /*1.5rem;*/
    }
}

.hero__info_text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /*white-space: pre-line;*/
    font-size: 2rem;
    font-size: clamp(1rem, calc(2vw), 2rem);
    @media (max-width: 550px) {
        align-content: flex-start;
    }
}

.hero__info_footer {
    margin-top: 1rem;
    display: flex;
    justify-content: stretch;
    align-items: center;
    gap: 1rem;
    @media (max-width: 550px) {
        gap: 0.5rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

    }
}

.hero__dots {
  text-align: center;
  margin-top: 1rem;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #aaa;
  cursor: pointer;
}

.dot.active {
  background-color: #333;
}
