.header__outer_container {
    position: sticky;
    top: 0;
    margin-top: 1rem;
    z-index: 1000;
    transition: background-color 0.2s ease-in-out;
    background-color: transparent;
    &.stuck {
        padding-top: 0.5rem;
        padding-bottom: 0.75rem;
        background-color: var(--background);
    }
    @media (max-width: 768px) {
        margin-top: 0.5rem;
    }
}
.header__outer_container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  pointer-events: none; /* don't block clicks */
  z-index: -1; /* sit behind content */
}

.header__outer_container.stuck::before {
  border-bottom: 2px solid black;
  background-image: var(--banner-img);
  opacity: 1;
  @media (max-width: 768px) {
    background-image: var(--banner-responsive-img);
  }
}


.header__container {
    margin: 0 auto;
    max-width: 85vw;
    display: flex;
    height: var(--header-height);
    /*align-items: flex-end;*/
    justify-content: space-between;
    padding: 0 min(2rem, 5%);
    z-index: 1000;

    @media (max-width: 900px) {
        max-width: 100vw;
    }
}

.header__logo {
    height: var(--header-height);
}

.header__logo picture,
.header__logo img {
    height: 100%;
    width: auto;
    max-width: 100%;
    object-fit: contain;
}

.nav__wrapper {
    margin-top: auto;
    margin-bottom: 4px;
    flex-grow: 1;
}

.header__links {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    gap: var(--gap);
}

.container {
    gap: 1rem;
    min-height: 100vh;
    min-height: 100dvh;
    padding: 1.5rem;
    max-width: calc(95vw - var(--header-height));
    margin: 0 auto;
    @media (max-width: 900px) {
        max-width: 100vw;
        padding: 1rem;
        gap: 0.5rem;
        margin-top: 0.75rem;
    }
}


.body__container {
    gap: 5rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    @media (max-width: 900px) {
        gap: 1rem;
    }
}

.content__container {
    display: flex;
    flex-direction: column;
    /*aspect-ratio: 2/1;*/
    width: 100%;
    justify-content: stretch;
    margin-bottom: 1rem;
    @media (max-width: 900px) {
        aspect-ratio: unset;
    }
}

.content__title {
    font-weight: 800;
    margin-bottom: 2rem;
}

.nav__wrapper {
    position: relative;
    align-self: center
}

.menu-toggle {
    display: none;
    width: 80px;
    color: var(--primary);
    box-shadow: 3px 2px 3px var(--text);
    margin-bottom: 0.25rem;
    margin-right: 0.25rem; 
}

/* Responsive behaviour */

.mobile__header_button-wrapper {
    display: flex;
}

@media (max-width: 768px) {
  .header__links {
    display: none;
    flex-direction: column;
    padding-top: 0.75rem;
    gap: 0.25rem;
  }

  .menu-toggle {
    display: inline-block;
    margin-left: auto;
    font-size: 1.5rem;
    /*background: none;*/
    background: var(--background);
    border: none;
    cursor: pointer;
  }

  .header__links.open {
    display: flex;
    position: absolute;
    top: 100%;
    right: 0;
  }
}

.partners__section {
    display: grid;
    align-content: center;
    place-items: center; 
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Responsive columns */
    gap: 1rem; /* Spacing between grid items */
    padding: 1.5rem 1rem;
    @media (max-width: 700px) {
       display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        gap: 0.25rem;
        padding: 0.5rem;
    }
}

.partners__section-box {
    width: clamp(5rem, 150px);
    max-height: 100px;
    height: auto;
    justify-content: center;
    @media (max-width: 550px) {
        max-height: 50px;
    }
}

.partners__section picture,
.partners__section img {
    align-self: center;
    justify-self: center;
    object-fit: contain;
    max-width: 150px;
    max-height: 100px;
    /*max-width: 150px;
    height: 150px;*/
    @media (max-width: 550px) {
        max-width: 100px;
        height: 50px;
    }
}
.partners__section a {
    max-width: 150px;
    height: 150px;
}