.header__outer_container {
    position: sticky;
    top: 0;
    margin-top: 1rem;
    z-index: 1000;
    /*transition: background-image 2.5s;*/

    &.stuck {
        background-color: var(--background);
        background-image: var(--background-img);
        background-position: center;
        background-size: cover;
        padding-bottom: 0.5rem;
    }
    @media (max-width: 900px) {
        margin-top: 0.5rem;
    }
}

.header__container {
    margin: 0 auto;
    max-width: 85vw;
    display: flex;
    height: var(--header-height);
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 min(2rem, 8%);
    z-index: 1000;
    @media (max-width: 900px) {
        max-width: 100vw;
    }
}

.header__logo {
    height: var(--header-height);
}

.header__logo picture,
.header__logo img {
    height: 100%;
    width: auto;
    max-width: 100%;
    object-fit: contain;
}

.nav__wrapper {
    margin-top: auto;
    margin-bottom: 4px;
    flex-grow: 1;
}

.header__links {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    gap: var(--gap);
}

.container {
    gap: 1rem;
    min-height: 100vh;
    min-height: 100dvh;
    padding: 1.5rem;
    max-width: 90vw;
    margin: 0 auto;
    @media (max-width: 900px) {
        max-width: 100vw;
        padding: 1.25rem;
        gap: 0.5rem;
    }
}


.body__container {
    gap: 5rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.content__container {
    display: flex;
    flex-direction: column;
    /*aspect-ratio: 2/1;*/
    width: 100%;
    justify-content: stretch;
    margin-bottom: 1rem;
    @media (max-width: 900px) {
        aspect-ratio: unset;
    }
}

.content__title {
    font-weight: 800;
    margin-bottom: 2rem;
}

.nav__wrapper {
    position: relative;
    align-self: center
}

.menu-toggle {
    display: none;
    width: 80px;
    color: var(--primary);
    box-shadow: 3px 2px 3px var(--text);
    margin-bottom: 0.25rem;
    margin-right: 0.25rem; 
}

/* Responsive behaviour */

.mobile__header_button-wrapper {
    display: flex;
}

@media (max-width: 768px) {
  .header__links {
    display: none;
    flex-direction: column;
    padding-top: 0.75rem;
    gap: 0.25rem;
  }

  .menu-toggle {
    display: inline-block;
    margin-left: auto;
    font-size: 1.5rem;
    /*background: none;*/
    background: var(--background);
    border: none;
    cursor: pointer;
  }

  .header__links.open {
    display: flex;
    position: absolute;
    top: 100%;
    right: 0;
  }
}