.lineup-title {
    font-size: clamp(1rem, calc(3vw + 1rem), 4rem);
    font-weight: 800;
}


.lineup-list {
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.lineup__section {
    border-radius: 10px;
    outline: 3px solid black;
    box-shadow: 7px 5px 4px black;
    /*flex-grow: 1;*/
}

.lineup__section--split {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--background);
  transition: opacity 1s ease-in-out;
  z-index: 0;
}

.lineup__section--split picture,
.lineup__section--split img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    height: auto;
    max-height: 75vh;
    max-width: 100%;
    @media (max-width: 900px) {
        object-fit: contain;
        display: block;
    }
}

.lineup__section-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    gap: 1rem;
    @media (max-width: 900px) {
        padding: 0.75rem;
        gap: 0;
    }

}


.letter-section {
  border-top: 2px solid black;
  margin-top: 2rem;
  padding-top: 1rem;
}

.letter-heading {
  /*font-size: 2rem;*/
  font-size: clamp(1rem, calc(2vw + 0.5rem), 2rem);;
  font-weight: 800;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

/*
.lineup-list-element {
    display: flex;
    flex-direction: row;
    outline: 2px solid black;
    border-radius: 7px 10px;
    max-height: 100px;
    width: auto;
    background-color: var(--background);
}*/


.lineup-list-element {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 3rem; /* Indent artist entries under letter */
    outline: 3px solid black;
    border-radius: 3px 5px;
    box-shadow: 6px 4px 6px black;
    
    background-color: var(--background);
    @media (max-width: 900px) {
         margin-left: 1rem;
    }
}

.lineup-list-element:hover {
    background-color: var(--primary);
    color: var(--background)
}

.lineup-list---text {
    margin: auto;
    padding-left: 1rem;
    align-self: flex-start;
    flex-grow: 1;
    @media (max-width: 900px) {
        padding-left: 0.5rem;
    }
}

.letter-.lineup-list a {
  text-decoration: none;
}

.lineup-list img {
  width: 100px;
  height: 100px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  align-self: flex-end;
  display: block;
}

@media (max-width: 900px) {
  .lineup-list img {
    width: 80px;       /* slightly smaller on mobile if you prefer */
    height: 80px;
    aspect-ratio: 1 / 1;
    object-fit: cover; /* keep "cover" to ensure it fills the square */
  }
}


/*
.lineup-list img {
    max-width: 100px;
    max-height: 100px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    align-self: flex-end;
    @media (max-width: 900px) {
        object-fit: contain;
        aspect-ratio: 1 / 1;
    }
}
*/