.news-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    @media (max-width: 900px) {
        grid-template-columns: 1fr;
    }
}

.news-card picture
.news-card img {
    object-fit: cover;
    width: 400px;
    height: 300px;
}

.news-card {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    aspect-ratio: 1/1;
    max-width: 400px;
    justify-content: stretch;
    /*margin-bottom: 5rem;*/
    @media (max-width: 900px) {
        aspect-ratio: unset;
    }
    border-radius: 10px;
    outline: 3px solid black;
    box-shadow: 6px 5px 3px black;
}

.news-card-container {
    padding: 1rem;
}

.news-card-title {
    font-size: clamp(1rem, calc(2vw + 0.25rem), 1.5rem);
    font-weight: 600;
}

.news-card-text {
    font-size: clamp(1rem, calc(1vw), 2rem);
}

.news-content-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-content: top;
}

.news__section {
    border-radius: 10px;
    outline: 3px solid black;
    box-shadow: 7px 5px 4px black;
    background-color: var(--background);
    /*flex-grow: 1;*/
}


.news__section-content {
  padding: 2rem 3rem;

  @media (max-width: 900px) {
    padding: 2rem 1.5rem;
    grid-template-columns: 1fr;
  }
}

.news__section-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: medium;
}


.news__section-title {
    font-size: clamp(1rem, calc(3vw + 1rem), 4rem);
    font-weight: 800;
    padding: 1.5rem 0;
}

.news__section picture,
.news__section img {
    aspect-ratio: 16 / 9;
    object-fit: cover;
    max-height: 70vh;
    
    border-radius: 7px 10px;

    outline: 2px solid black;
    @media (max-width: 900px) {
        object-fit: cover;
        width: 100%;
        height: auto;
    }
}


.news__section-text {
    font-size: clamp(0.75rem, calc(1vw + 0.5rem), 1.25rem);
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.news__section-text a {
    color: var(--primary-alt2);
    text-decoration: underline;
}
