.news-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    @media (max-width: 900px) {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}

.news-title {
    font-size: clamp(1rem, calc(2vw + 0.5rem), 4rem);
    font-weight: 800;
    margin-bottom: 1rem;    
}

.news-card {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    height: 450px;
    border-radius: 10px;
    outline: 2px solid black;
    box-shadow: 5px 3px 3px black;
    overflow: hidden;
    @media (max-width: 900px) {
        /*height: auto;
        max-height: none;*/
        height: 400px;
    }
}

.news-card-image {
    border-bottom: 2px solid black;
    overflow: hidden;
    flex: 0 0 70%;
    width: 100%;
}

.news-card-image img,
.news-card-image picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.news-card-content {
    flex: 0 0 30%;
    padding: 0.5rem 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    @media (max-width: 900px) {
        padding: 0.25rem 0.5rem;    
    }
}


.news-card-title {
    font-size: clamp(1rem, calc(2vw + 0.25rem), 1.5rem);
    font-weight: 600;
}

.news-card-date-tag {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    gap: 1rem;
}

.tags {
    align-content: center;
    padding-bottom: 4px;
}
.small-tag {
    border: 2px solid black;
    background-color: var(--primary);
    color: white;
    border-radius: 7px;
    /*padding: 7px 10px;*/
    font-size: smaller;
    padding: 0.1rem 0.25rem;
    height: 100px;
}

.news-card-text {
    font-size: clamp(1rem, calc(1vw), 2rem);
}

.news-content-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-content: top;
}

.news__section {
    border-radius: 10px;
    outline: 2px solid black;
    box-shadow: 5px 3px 3px black;
    background-color: var(--background);
    /*flex-grow: 1;*/
}


.news__section-content {
  padding: 2rem 3rem;

  @media (max-width: 900px) {
    padding: 2rem 1.5rem;
    grid-template-columns: 1fr;
  }
}

.news__section-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: medium;
}


.news__section-title {
    font-size: clamp(1rem, calc(3vw + 1rem), 4rem);
    font-weight: 800;
    padding: 1.5rem 0;
}

.news-post-image {
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
    border-radius: 7px;
    outline: 2px solid black;
}

.news-post-image picture,
.news-post-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 7px;
}


.news__section-text {
    font-size: clamp(0.75rem, calc(1vw + 0.5rem), 1.25rem);
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.news__section-text a {
    color: var(--primary-alt2);
    text-decoration: underline;
}
