.schedule-title {
    font-weight: bold;
    color: var(--text);
    /*font-size: 4vw; */
    font-size: clamp(1rem, calc(2vw + 0.5rem), 3rem);
}

.schedule-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 1.5rem 0;
  padding: 1rem 0;
}

.filter-button {
  cursor: pointer;
  transition: opacity 0.2s;
  width: 7rem;
}

.filter-button:hover {
  opacity: 0.8;
}

.filter-button.active {
  background-color: var(--accent);
  color: var(--background);
}

.schedule-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.schedule-day {
  border-top: 2px solid black;
  padding-top: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.schedule-date {
  /*font-size: 2rem;*/
  font-size: clamp(0.5rem, calc(2vw + 0.5rem), 2rem);
  font-weight: 600;
  margin-bottom: 1rem;
}

.schedule-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--background);
    border-radius: 3px 5px;
    outline: 4px solid black;
    margin-left: 3rem;
    box-shadow: 4px 6px 6px black;
}

.schedule-item-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
}

.schedule-item-right {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: flex-end;
    padding-right: 1.25rem;
    flex-grow: 1;
    @media (max-width:550px) {
        display: none;
    }
}

.schedule-item:hover {
    background-color: var(--primary);
    color: var(--background)
}

.schedule-item img {
  object-fit: cover;
  width: 100px;
  height: 100px;
  min-width: 100px;
  min-height: 100px;
  margin-right: 1rem;
  flex-shrink: 0;
}

.schedule-text h3 {
  margin: 0;
}

.schedule-text p {
  margin: 0.25rem 0 0;
  font-weight: 500;
}

.schedule-sorting {
    margin-top: 1rem; 
    padding-left: 3rem; 
    display:flex; 
    justify-content: flex-start; 
    align-items: center; 
    flex-grow: 1; gap: 1rem;
}

.schedule-sorting .about__button {
    cursor: pointer;
    transition: all 0.2s ease;
}

.schedule-sorting .about__button.active {
    background-color: var(--accent);
    font-weight: bold;
}

.schedule__section {
    border-radius: 10px;
    outline: 3px solid black;
    box-shadow: 7px 5px 4px black;
    /*flex-grow: 1;*/
}

.schedule__section--split {
  display: grid;
  grid-template-columns: 1fr 1.33fr;
  background-color: var(--background);
  transition: opacity 1s ease-in-out;
  z-index: 0;
  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}

.schedule__section--split picture,
.schedule__section--split img {
    object-fit: cover;
    width: 100%;
    min-width: 100%;
    @media (max-width: 900px) {
        max-height: 50vh;
    }
}

.schedule__section-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;
    @media (max-width: 900px) {
        padding: 0.75rem;
        gap: 0;
    }

}

.schedule__section-date-category {
    font-size: clamp(0.8rem, calc(1vw + 0.25rem), 1.25rem);
}

.schedule__list-title {
    font-size: clamp(1rem, calc(1vw + 0.25rem), 1.5rem);
}
.schedule-title-mobile {
  display: none;
}

.schedule-title-desktop {
  display: inline;
}

@media (max-width: 900px) {
  .schedule-title-mobile {
    display: inline;
  }
  
  .schedule-title-desktop {
    display: none;
  }

  .schedule-item {
    margin-left: 0.25rem;
  }

  .schedule-text {
    margin-left: 0.25rem;
    min-width: 0;
    flex: 1;
  }
  .schedule__list-title {
    text-wrap: wrap;
    hyphens: auto;
    word-break: break-word;
  }

  .schedule-item img {
    width: 90px;
    height: 90px;
    min-width: 90px;
    min-height: 90px;
    margin-right: 0.25rem;
    flex-shrink: 0;
  }
}
