.schedule-title {
    font-weight: bold;
    color: var(--text);
    /*font-size: 4vw; */
    font-size: clamp(1rem, calc(2vw + 0.5rem), 3rem);
}


.schedule-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.schedule-day {
  border-top: 2px solid black;
  padding-top: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.schedule-date {
  /*font-size: 2rem;*/
  font-size: clamp(0.5rem, calc(2vw + 0.5rem), 2rem);
  font-weight: 800;
  margin-bottom: 1rem;
}

.schedule-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--background);
    border-radius: 3px 5px;
    outline: 4px solid black;
    margin-left: 3rem;
    box-shadow: 4px 6px 6px black;
}

.schedule-item-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
}

.schedule-item-right {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: flex-end;
    padding-right: 1.25rem;
    flex-grow: 1;
    @media (max-width:550px) {
        display: none;
    }
}

.schedule-item:hover {
    background-color: var(--primary);
    color: var(--background)
}

.schedule-item img {
  width: 100px;
  height: 100px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  margin-right: 1rem;
}

.schedule-text h3 {
  margin: 0;
}

.schedule-text p {
  margin: 0.25rem 0 0;
  font-weight: 500;
}

.schedule-sorting {
    margin-top: 1rem; 
    padding-left: 3rem; 
    display:flex; 
    justify-content: flex-start; 
    align-items: center; 
    flex-grow: 1; gap: 1rem;
}

.schedule__section {
    border-radius: 10px;
    outline: 3px solid black;
    box-shadow: 7px 5px 4px black;
    /*flex-grow: 1;*/
}

.schedule__section--split {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--background);
  transition: opacity 1s ease-in-out;
  z-index: 0;
}

.schedule__section--split picture,
.schedule__section--split img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    height: auto;
    max-height: 75vh;
    max-width: 100%;
    @media (max-width: 900px) {
        object-fit: contain;
        display: block;
    }
}

.schedule__section-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    gap: 1rem;
    @media (max-width: 900px) {
        padding: 0.75rem;
        gap: 0;
    }

}


@media (max-width: 900px) {
  .schedule-item {
    margin-left: 1rem;
  }

  .schedule-item img {
    width: 80px;
    height: 80px;
  }
}
