:root {
    --background: #fff;
    --text: #111;
    --accent: #6528f7;
    --background-img: url("/assets/backgrounds/kilele_bg_2026.png");
    --banner-img: url("/assets/images/2026/Kilele-2026-Banner.jpg");
    --banner-responsive-img: url("/assets/images/2026/Kilele-2026-Banner-NoDiver.png");

    --button-purple: url("/assets/ui/button_purple.png");

    --primary: #7117ff;
    --primary-alt1: #0011b2;
    --primary-alt2: #ff8b00;
    --secondary: #ff0000;
    --secondary-alt1: #201d1d;

    --header-height: 100px;
    --header-offset: -80px;
    --gap: min(1.5rem, 3%);
}

@media (max-width: 900px) {
    :root {
        --header-height: clamp(3vh, 4vh + 1rem, 100px);
        --header-offset: calc(20px - var(var(--header-height))); 
    }
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #111;
    --text: #f5f5f5;
    --accent: #a98cff;
  }
}
*/