---
layout: layouts/base.html
title: Schedule
description: "Schedule"
permalink: /2026/schedule/index.html
---

<div class="content__container">
      <h1>Schedule Kilele 2026</h1>
<div class="schedule-list">
        <div class="schedule-day">
          <br><br>
      <div class="sh2">Full schedule for Kilele 2026 will be announced in January</div>
      </div>
</div>
    <!--div class="schedule-sorting">
      <a href="" class="about__button">By time</a>
      <a href="" class="about__button">By category</a>
    </div-->

  <!--div class="schedule-list">
    {% for date, points in schedule %}
      <div class="schedule-day">
        <h2 class="schedule-date">{{ date }}</h2>

        {% for point in points %}
          <a href="/2026/schedule/{{ point.slug }}/">
          <article class="schedule-item" 
          style="outline: 3px solid {{ point.category_color | default('#cccccc') }};"
          >
            <img 
              src="{{ point.photo_path_small if point.photo_path_small else '/assets/images/placeholder.jpg' }}" 
              alt="{{ point.title }}" 
              width="400" height="400"
            />
            <div class="schedule-text schedule-item-left">
                <h3>{{ point.title }}</h3>
                <div>
                  {{ point.start_time_local }}: {{ point.venue_name }}
                </div>
            </div>
            <div class="schedule-text schedule-item-right">
                <small><b>{{ point.category_name }}</b></small>
            </div>

          </article>
          </a>
        {% endfor %}
      </div>
    {% endfor %}
  </div-->
</div>


