---
layout: layouts/base.html
title: Latest news
description: "Latest news"
---

<div class="content__container">
  <h1>Latest News</h1>

  <div class="news-grid">
    {% for post in news %}

    <a href="/news/{{ post.slug }}/">
    <div class="news-card">

        
        {% if post.photo_path %}
        <div class="news-card-image">
            <img src="{{ post.photo_path }}" alt="{{ post.title }}" width="400" height="400"/>
        </div>
        {% endif %}
 

        <div class="news-card-content">
            <div class="news-card-date-tag">
            {{ post.publish_date | postDate }}
            {% if post.tags %}
            <div class="tags">
                {% for tag in post.tags %}
                <span class="small-tag">{{ tag.name }}</span>
                {% endfor %}
            </div>
            {% endif %}
            </div>
            <div class="news-card-title">{{ post.title }}</div>       

            <div class="news-card-text">{{ post.excerpt }}</div>
            
        </div>
    </div>
    </a>

    {% endfor %}
</div>
</div>
