---
layout: layouts/base.html
title: Kilele 2026
---


<div class="content__container">
    <div class="hero__carousel">
        {% for post in news_latest.hero %}
        <div class="hero__section {% if loop.index == 1 %}active{% endif %}">
            <a href="/news/{{ post.slug }}/">
            <div class="hero__section-content">
                <div class="hero__section-image">
                {% if post.photo_path %}
                        <img src="{{ post.photo_path }}" alt="{{ post.title }}">
                {% endif %}
                </div>
                <div class="hero__section-text">
                    <h1>{{ post.title }}</h1>
                    <span class="hero__info_shout">{{ post.sub_title }}</span>
                    <div class="hero__info_text">
                        {{ post.hero_text | markdown | safe }}
                    </div>
                </div>
            </div>
            </a>
        </div>
        {% endfor %}  
    </div>
    <div class="hero__dots">
        {% for post in news_latest.hero %}
        <span class="dot {% if loop.index == 1 %}active{% endif %}" data-index="{{ loop.index0 }}"></span>
        {% endfor %}
    </div>
</div>

<div class="content__container">
    <h2>Latest News</h2>
    <div class="news__section--hero">
        {% for post in news_latest.regular %}
        <div class="hero__pair">
            <a href="/news/{{ post.slug }}/" >
            <div class="hero__pair-img-container">
            {% if post.photo_path %}
                <img src="{{ post.photo_path }}" alt="{{ post.title }}">
            {% endif %}
            </div>
            <div class="hero__info--below">
                <span class="sh3">{{ post.publish_date | postDate }}</span>
                <h3>{{ post.title }}</h3>
                <span class="sh3">{{ post.excerpt }}</span>
            </div>
        </a>
        </div>
        {% endfor %}  
    </div>
</div>

<div class="content__container">
    <h2>Subscribe to our Substack</h2>
    <div class="news__section--hero hero__section--newsletter">
        <div class="newsletter-embed">
            <iframe src="https://kilelesummit.substack.com/embed" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>
</div>

<div class="content__container">
    <center><h2>Follow Kilele</h2></center>
        <div class="social-links">
            <a href="https://www.youtube.com/@KileleSummit" target="_blank" class="social-link">
                <span class="social-icon"><img src="/assets/logos/socials/youtube.png" alt="Kilele on Youtube"></span>
            </a>
            <a href="https://www.instagram.com/kilelesummit/" target="_blank" class="social-link">
                <span class="social-icon"><img src="/assets/logos/socials/instagram.png" alt="Kilele on Instagram"></span>
            </a>
            <a href="https://discord.gg/5APgU25Rvg" target="_blank" class="social-link">
                <span class="social-icon"><img src="/assets/logos/socials/discord.png" alt="Kilele Community on Discord"></span>
            </a>
        </div>
</div>


