---
layout: layouts/base.html
title: Kilele 2026
---

<div class="hero__wrapper">
    <div class="content__container">
        {% for post in news_latest.hero_video %}
        {% if post.hero_video %}
        <div class="hero__video-section">
            <a href="/news/{{ post.slug }}/">
                <div class="hero__section-video">
                    <iframe src="{{ post.video_url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <div class="content__container">
        <div class="hero__carousel">
            {% for post in news_latest.hero %}
            {% if not post.hero_video %}
            <div class="hero__section {% if loop.index == 1 %}active{% endif %}">
                <a href="/news/{{ post.slug }}/">
                <div class="hero__section-content">
                    <div class="hero__section-image">
                    {% if post.photo_path %}
                            <img src="{{ post.photo_path }}" alt="{{ post.title }}">
                    {% endif %}
                    </div>
                    <div class="hero__section-text">
                        <div class="hero__title_text">{{ post.title }}</div>
                        <span class="hero__info_shout">{{ post.sub_title }}</span>
                        <div class="hero__info_text">
                            {{ post.hero_text | markdown | safe }}
                        </div>
                    </div>
                </div>
                </a>
            </div>
            {% endif %}
            {% endfor %}  
        </div>
        <div class="hero__dots">
            {% for post in news_latest.hero %}
            {% if not post.hero_video %}
            <span class="dot {% if loop.index == 1 %}active{% endif %}" data-index="{{ loop.index0 }}"></span>
            {% endif %}
            {% endfor %}
        </div>
    </div>

</div>


<div class="content__container">
    <h2>Latest News</h2>
    <div class="news__section--hero">
        {% for post in news_latest.regular %}
        <div class="hero__pair">
            <a href="/news/{{ post.slug }}/" >
            <div class="hero__pair-img-container">
            {% if post.photo_path %}
                <img src="{{ post.photo_path }}" alt="{{ post.title }}">
            {% endif %}
            </div>
            <div class="hero__info--below">
                <span class="sh3">{{ post.publish_date | postDate }}</span>
                <h3>{{ post.title }}</h3>
                <span class="sh3">{{ post.excerpt }}</span>
            </div>
        </a>
        </div>
        {% endfor %}  
    </div>
</div>

<div class="content__container">
    <h2>Calotropis live from Kilele</h2>
        <div class="radio_player">
            <b>Stream A</b>
            <iframe src="https://radio.calotropis.xyz/public/kilelestreamone/embed?theme=light" frameborder="0" allowtransparency="true" style="width: 100%; height: 150px; border: 0;"></iframe>
            <p>
            <b>Stream B</b>
            <iframe src="https://radio.calotropis.xyz/public/calotropis_radio/embed?theme=light" frameborder="0" allowtransparency="true" style="width: 100%; height: 150px; border: 0;"></iframe>
            </p>
    </div>
</div>

<div class="content__container">
    <h2>Subscribe to our Substack</h2>
    <div class="news__section--hero hero__section--newsletter">
        <div class="newsletter-embed">
            <iframe src="https://kilelesummit.substack.com/embed" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>
</div>

<div class="content__container">
    <center><h2>Follow Kilele</h2></center>
        <div class="social-links">
            <a href="https://www.youtube.com/@KileleSummit" target="_blank" class="social-link">
                <span class="social-icon"><img src="/assets/logos/socials/youtube.png" alt="Kilele on Youtube"></span>
            </a>
            <a href="https://www.instagram.com/kilelesummit/" target="_blank" class="social-link">
                <span class="social-icon"><img src="/assets/logos/socials/instagram.png" alt="Kilele on Instagram"></span>
            </a>
            <a href="https://discord.gg/5APgU25Rvg" target="_blank" class="social-link">
                <span class="social-icon"><img src="/assets/logos/socials/discord.png" alt="Kilele Community on Discord"></span>
            </a>
            <a href="https://chat.whatsapp.com/GblpqxM5wSJ32IwqzDurGQ" target="_blank" class="social-link">
                <span class="social-icon"><img src="/assets/logos/socials/whatsapp.png" alt="Kilele Whatsapp Broadcast channel"></span>
            </a>
        </div>
</div>



