---
layout: layouts/base.html
title: Kilele 2026
---


<div class="content__container">
    <div class="hero__carousel">
        {% for post in news_latest.hero %}
        <div class="hero__section {% if loop.index == 1 %}active{% endif %}">
            <a href="/news/{{ post.slug }}/">
            <div class="hero__section-content">
                <div class="hero__section-image">
                {% if post.photo_path %}
                        <img src="{{ post.photo_path }}" alt="{{ post.title }}">
                {% endif %}
                </div>
                <div class="hero__section-text">
                    <h1>{{ post.title }}</h1>
                    <span class="hero__info_shout">{{ post.sub_title }}</span>
                    <div class="hero__info_text">
                        {{ post.hero_text | markdown | safe }}
                    </div>
                </div>
            </div>
            </a>
        </div>
        {% endfor %}  
    </div>
    <div class="hero__dots">
        {% for post in news_latest.hero %}
        <span class="dot {% if loop.index == 1 %}active{% endif %}" data-index="{{ loop.index0 }}"></span>
        {% endfor %}
    </div>
</div>

<div class="content__container">
    <h1>News</h1>
    <div class="news__section--hero">
        {% for post in news_latest.regular %}
        <div class="hero__pair">
            <a href="/news/{{ post.slug }}/" >
            <div class="hero__pair-img-container">
            {% if post.photo_path %}
                <img src="{{ post.photo_path }}" alt="{{ post.title }}">
            {% endif %}
            </div>
            <div class="hero__info--below">
                <span class="sh4">{{ post.publish_date | postDate }}</span>
                <h2>{{ post.title }}</h2>
                <span class="sh3">{{ post.excerpt }}</span>
            </div>
        </a>
        </div>
        {% endfor %}  
    </div>
</div>

<div class="content__container">
    <h1>Subscribe to our Substack for Updates</h1>
    <div class="general__container hero__section--newsletter">
        <div class="hero__info_text">
        <iframe src="https://kilelesummit.substack.com/embed" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>
</div>


